<% include partials/header %>
<div class="container">
    <div class="jumbotron"> <h1>This is our landing page</h1>
         <p>Welcome to OwnGallery</p>
    </div>
     <a class="btn btn-primary " href="/campgrounds">ViewAll</a>
</div>


<% include partials/footer %>